@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #A0DCA9;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.floating-image-container {
  display: inline-block;
  overflow: hidden;
}

.floating-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
